.App {
  display: flex;
  height: 100vh;
}

.SideBar {
  background-color: aqua;
  width: 200px;
}

.MemoContainer {
  background-color: beige;
  flex: 1;
}

.MemoContainerTitle {
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
}

.MemoContainerContent {
  width: 100%;
  min-height: 6000px;
  box-sizing: border-box;
  font-size: 1.1rem;
}
