.App {
  display: flex;
  height: 100vh;
}

.SideBar {
  background-color: aqua;
  width: 200px;
}

.side-bar-footer {
  text-align: center;
  padding: 10px 0;
}

.side-bar-footer__add-button {
  background: none;
  border-radius: 100px;
  border: 2px solid;
  width: 40px;
  height: 40px;
  font-size: 1.3rem;
  padding: 10px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: #555;
  opacity: 0.6;
  cursor: pointer;
}

.MemoItem {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px;
}

.MemoItem.selected {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: rgba(100, 100, 100, 0.5);
  font-weight: 500;
}

.MemoContainer {
  background-color: beige;
  flex: 1;
}

.MemoContainerTitle {
  width: 100%;
  box-sizing: border-box;
  font-size: 2rem;
}

.MemoContainerContent {
  width: 100%;
  min-height: 6000px;
  box-sizing: border-box;
  font-size: 1.1rem;
}
